<%= form_with(model: talk, local: true) do |form| %>
  <% if talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(talk.errors.count, "error") %> prohibited this talk from being saved:</h2>

      <ul>
      <% talk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :talk_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :talk_description %>
  </div>

  <div class="field">
    <%= form.label :theme %>
    <%= form.select(:theme) do %>
      <% [['Web', :web], ['Games', :games], ['DevOps', :dev_ops], ['Carreira', :carrer], ['Design', :design], ['Mobile', :mobile], ['Análise', :analysis], ['Outros', :other]].each do |theme| -%>
        <%= content_tag(:option, theme.first, value: theme.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :required_knowledge %>
    <%= form.select(:required_knowledge) do %>
      <% [['Iniciante', :beginner], ['Médio', :medium], ['Avançado', :advanced]].each do |theme| -%>
        <%= content_tag(:option, theme.first, value: theme.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
