<%= form_with(model: speaker, local: true) do |form| %>
  <% if speaker.errors.any? %>
    <div id="error_explanation">
      <h2 class="error-title"><%= t("errors.template.header", count: speaker.errors.count, model: Speaker.model_name.human) %></h2>

      <ul class="error-messages">
      <% speaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="field">
      <%= form.label :name, 'Nome*' %>
      <%= form.text_field :name, id: :speaker_name, class: 'input' %>
    </div>

    <div class="field">
      <%= form.label :picture, 'Foto*' %>
      <%= form.file_field :picture, class: 'input-picture' %>
    </div>

    <div class="field">
      <%= form.label :email, 'Email*' %>
      <%= form.text_field :email, class: 'input' %>
    </div>

    <div class="field">
      <%= form.label :company, 'Empresa' %>
      <%= form.text_field :company, class: 'input'%>
    </div>

    <div class="field">
      <%= form.label :biography, 'Biografia*' %>
      <%= form.text_area :biography, class: 'text-area', rows: '5' %>
    </div>

    <div class="field">
      <%= form.label :website %>
      <%= form.text_field :website, class: 'input'%>
    </div>

    <h2 class="titleTalk">Talk</h2>
    <%= form.fields_for :talk, @talk do |talk_form| %>
      <div class="field">
        <%= talk_form.label :kind, 'Tipo*' %>
        <%= talk_form.select :kind, Talk.kinds.keys.collect { |kind| [Talk.human_enum_name(:kind, kind), kind] }%>
      </div>

      <div class="field">
        <%= talk_form.label :title, 'Titulo*' %>
        <%= talk_form.text_field :title, id: :talk_title, class: 'input' %>
      </div>

      <div class="field">
        <%= talk_form.label :description, 'Descrição*' %>
        <%= talk_form.text_area :description, id: :talk_description, class: 'text-area', rows: '5' %>
      </div>

      <div class="field">
        <%= talk_form.label :theme, 'Tema*' %>
        <%= talk_form.select :theme, Talk.themes.keys.collect { |theme| [Talk.human_enum_name(:theme, theme), theme] }%>
      </div>

      <div class="field select-knowledge">
        <%= talk_form.label :required_knowledge, 'Conhecimento Necessario*' %>
        <%= talk_form.select :required_knowledge, Talk.required_knowledges.keys.collect { |required_knowledge| [Talk.human_enum_name(:required_knowledge, required_knowledge), required_knowledge] } %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit t('helpers.submit.send', model: Talk.model_name.human), class: 'button-submit'%>
    </div>
  </div>

<% end %>
